header {
	background: #555;
	display: flex;
	justify-content: space-between;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.svg-div {
	height: 500px;
	width: 960px;
}

svg {
	height: 500px;
	width: 960px;
}
