* {
	margin: 0;
	padding: 0;
}

button {
	background: #555;
	border: 2px solid #4ecdc4;
	border-radius: 10px;
	color: #fff;
	height: 30px;
	width: 75px;
}

header {
	align-items: center;
	background: #555;
	border-bottom: 5px solid #4ecdc4;
	color: #fff;
	display: flex;
	height: 50px;
	justify-content: space-between;
}

header h1 {
	color: #4ecdc4;
}

.data-container {
	display: flex;
	justify-content: space-around;
}

.chart-container {
	width: 960px;
}

.form-container {
	align-items: center;
	background: #555;
	border: 5px solid #4ecdc4;
	border-radius: 5px;
	color: #4ecdc4;
	display: flex;
	height: 300px;
	margin-top: 20px;
	text-align: center;
}

#login-container {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 200px;
}

select {
	background: #555;
	border-color: #4ecdc4;
	border-radius: 5px;
	color: #4ecdc4;
	height: 25px;
}

form {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.line, .x-axis, .y-axis {
	fill: #4ecdc4;
	stroke: #4ecdc4;
}
