* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background: #555; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left bottom, #666, #111); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(top right, #666, #111); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(top right, #666, #111); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(top right, #666, #111); /* Standard syntax */
    background-repeat: no-repeat;
    background-size: cover;
}

body * {
	background: transparent;
}

button {
	border: 2px solid #4ecdc4;
	border-radius: 10px;
	color: #fff;
	font-family: 'Raleway';
	height: 30px;
	width: 75px;

	-webkit-transition: background 0.5s;
    transition: background 0.5s;
}

button:hover {
	background: #4ecdc4;
	color: #000;

	-webkit-transition: background 0.5s; /* Safari */
    transition: background 0.5s;
}

header {
	align-items: center;
	border-bottom: 5px solid #4ecdc4;
	color: #fff;
	display: flex;
	height: 50px;
	justify-content: space-between;
}

header h1 {
	color: #4ecdc4;
	font-family: 'Lato';
	margin-left: 25px;
}

.data-container {
	display: flex;
	justify-content: space-around;
}

.chart-container {
	width: 960px;
}

.form-container {
	align-items: center;
	border: 5px solid #4ecdc4;
	border-radius: 5px;
	color: #4ecdc4;
	display: flex;
	font-family: 'Raleway';
	height: 300px;
	margin-top: 20px;
	text-align: center;
}

#login-container {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 200px;
}

select {
	border-color: #4ecdc4;
	border-radius: 5px;
	color: #4ecdc4;
	font-family: 'Raleway';
	height: 25px;
}

form {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.line, .x-axis, .y-axis {
	stroke: #4ecdc4;
}

.x-axis, .y-axis {
	fill: #4ecdc4;
}

.circle {
	fill: #4ecdc4;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
